<%- include('partials/navbar.ejs') %>
    <%- include('partials/head.ejs') %>

        <section style="text-align:center; padding: 50px;">
            <h1>404 - Página não encontrada</h1>
            <p>A página que você está tentando acessar não existe.</p>
            <a href="/" class="btn">Voltar para a Home</a>
        </section>

        <%- include('partials/footer') %>